@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --mainColor: #131722;
  --secondaryColor:#fff;

}
body {
  background-color: var(--mainColor) !important;
  font-family: "Montserrat", sans-serif !important;
  color: var(--secondaryColor) !important;

}
